{% load static sekizai_tags %}
{% load cms_tags menu_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ language_code|default:'it' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title_tag %}CAI Vestone{% endblock title_tag %}</title>

    <link rel="stylesheet" href="{% static 'patternfly/patternfly.css' %}">

    {% render_block "css" %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'gladstone/components/templates/base/base.css' %}">{% endaddtoblock %}

  </head>
  <body>

    {% render_block "templates" %}

    {% cms_toolbar %}

    {% block content %}
      <div class="pf-c-page">

        <a class="pf-c-skip-to-content pf-c-button pf-m-primary" href="#main-content-page-default-nav-example">Skip to content</a>

        <header class="pf-c-page__header gladstone-page-header">

          <div class="pf-c-page__header-brand">
            <div class="pf-c-page__header-brand-toggle">
              <button class="pf-c-button pf-m-plain" type="button" id="nav-toggle" aria-label="Global navigation" aria-expanded="false" aria-controls="page-sidebar">
                <i class="fas fa-bars" aria-hidden="true"></i>
              </button>
            </div>
            <a class="pf-c-page__header-brand-link">
              <img class="pf-c-brand" src="{% static 'gladstone/images/logo.svg' %}" alt="logo">
            </a>
          </div>

        </header>

        <aside class="pf-c-page__sidebar pf-m-dark" id="page-sidebar">
          <div class="pf-c-page__sidebar-body">
            {% show_menu  0 1 100 100 "gladstone/components/organisms/site_nav/site_nav.html" %}
          </div>
        </aside>

        <main class="pf-c-page__main">
          {% block main %}
            <section class="pf-c-page__main-section pf-m-light">
              {% placeholder "content" %}
            </section>
          {% endblock main %}
        </main>
      </div>

      <footer class="gladstone-page-footer">
        <p>kdljvs</p>
      </footer>
    {% endblock content %}

    {% render_block "js" %}
    {% addtoblock "js" %}<script src="{% static 'gladstone/components/templates/base/base.js' %}"></script>{% endaddtoblock %}

  </body>
</html>
