{% for crumb in ancestors %}
  <li class="pf-c-breadcrumb__item">
    {% if not forloop.first %}
      <span class="pf-c-breadcrumb__item-divider">
        <i class="fas fa-angle-right" aria-hidden="true"></i>
      </span>
    {% endif %}
    <a href="crumb.get_absolute_url {% if loop.last %}pf-m-current{% endif %}" class="pf-c-breadcrumb__link">{{ crumb.get_menu_title }}</a>
  </li>
{% endfor %}

