<nav class="pf-c-nav" aria-label="Global">
  <ul class="pf-c-nav__list">
    {% for child in children %}
      <li class="pf-c-nav__item">
        <a class="pf-c-nav__link {% if child.selected %}pf-m-current{% endif %}"{% if child.selected %}
           aria-current="page"
           {% endif %}href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
           title="{{ child.title }}">
          {{ child.get_menu_title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
