{% extends "gladstone/components/templates/base/base.html" %}
{% load cms_tags menu_tags %}


{% block title_tag %}{% page_attribute "page_title" %} | {{ block.super }}{% endblock title_tag %}

{% block main %}
  <section class="pf-c-page__main-breadcrumb">
    <nav class="pf-c-breadcrumb" aria-label="breadcrumb">
      <ol class="pf-c-breadcrumb__list">
        {% block breadcrumb_items %}
          {% show_breadcrumb 1 "gladstone/components/molecules/breadcrumb/breadcrumb.html" %}
        {% endblock breadcrumb_items %}
      </ol>
    </nav>
  </section>

  {{ block.super }}
{% endblock main %}
