/* base page template */

.gladstone-page-header .pf-c-page__header-brand-toggle {
  display: block;
  visibility: visible;
}

@media (min-width: 48rem) {
  .gladstone-page-header .pf-c-page__header-brand-toggle {
    display: none;
    visibility: hidden;
  }
}

.gladstone-page-footer {
  background-color: var(--pf-global--BackgroundColor--dark-100);
  color: var(--pf-global--Color--light-100);
  padding: 3rem 2rem;
}
